.slider-container {
  display: flex;
  width: 100%;
  height: 80vh; 
  min-height: 500px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  font-family: var(--font-poppins);
  overflow-anchor: none;
}
.slider-panel {
  position: relative;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 
    flex 0.7s ease-in,
    filter 0.5s ease;
  filter: brightness(0.9);
}
.slider-container:hover .slider-panel {
  filter: brightness(0.4);
}
.slider-container .slider-panel:hover {
  flex: 4;
  filter: brightness(1) blur(0);
}
.slider-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  color: white;
  z-index: 2;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease 0.2s, transform 0.6s ease 0.2s;
}
.slider-panel:hover .slider-content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
}
.slider-content h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 10px 0;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.slider-panel:hover .slider-content h3 {
  bottom: 160px;
  font-size: 2.5rem;
}
.slider-description {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  max-width: 450px;
}
.slider-button {
  background-color: white;
  color: var(--font-color);
  border: none;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  transform: scale(0.95);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-button:hover {
  transform: scale(1);
}
.slider-panel::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  z-index: 1;
  transition: height 0.5s ease;
}

.slider-panel:hover::after {
  height: 80%;
}


/* --- Responsywność (Mobile) --- */
@media (max-width: 1024px) {
  .slider-container {
    flex-direction: column; 
    min-height: 1500px;
  }

  .slider-container:hover .slider-panel {
    flex: 1; 
    height: 500px;
    filter: brightness(0.9) blur(0);
  }

  .slider-container .slider-panel:hover {
    flex: 1;
    height: 500px;
  }
  
  .slider-content {
    opacity: 1;
    transform: translateY(0);
  }
  
  .slider-content h3 {
    position: static;
    font-size: 1.8rem;
    bottom: auto;
    left: auto;
  }
  .slider-panel:hover .slider-content h3 {
    bottom: 160px;
    font-size: 1.8rem;
  }
  .slider-panel::after {
    background: rgba(0,0,0,0.6);
    height: 100%;
  }
  .slider-panel:hover::after{
    height: 100%;
    transition: none;
  }
  .slider-description{
    font-size: 0.8rem;
  }
}