.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    margin: 10px auto 0 auto;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: var(--font-color);
}
.card .sklepy_info_title, .card .sklepy_info_text, .card .sklepy_info_hours{
    text-align: center;
}

.card .sklepy_info_title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .sklepy_info_text{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card .sklepy_info_hours{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.card .sklepy_info_map{
    width: 100%;
    min-height: 300px;
    align-items: center;
}
@media (max-width: 900px) {
    .card{
        width: 100%;
    }
}